/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50


ZMK_COMBO(cut,   &kp LC(X),     LM3 LM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(copy,  &kp LC(INS),   LM2 LM1,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(paste, &kp LS(INS),   LM1 LM0,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(bspc,  &bs_del,       RM1 RM2,     DEF NAV NUM, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(tab,   &kp TAB,       RM1 RM3,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(lang,  &kp LG(SPACE), RT2 RT3,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(caps,  &caps_word,    LH0 RH0,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(plus,  &kp PLUS,     RB0 RB1,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(minus, &kp MINUS,    RB1 RB2,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(equal, &kp EQUAL,    RM0 RM1,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(taah,   &kp SQT,      RM2 RM3,     DEF NAV NUM, COMBO_TERM_FAST, COMBO_IDLE_FAST)

/*ZMK_COMBO(game,  &to GAME,     RT0 LT0,     DEF NAV NUM GAME SYS, COMBO_TERM_SLOW)*/
ZMK_COMBO(sys,   &to SYS,      RB0 LB0,     DEF NAV NUM SYS, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(mouse, &to MOUSE,    LT3 LT1,     DEF NAV NUM MOUSE, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(nums,  &to NUM,      RB2 RB3,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(n1,  &kp N1,      LT4 LM4,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n2,  &kp N2,      LT3 LM3,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n3,  &kp N3,      LT2 LM2,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n4,  &kp N4,      LT1 LM1,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n5,  &kp N5,      LT0 LM0,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n6,  &kp N6,      RT0 RM0,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n7,  &kp N7,      RT1 RM1,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n8,  &kp N8,      RT2 RM2,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n9,  &kp N9,      RT3 RM3,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(n0,  &kp N0,      RT4 RM4,     DEF NAV NUM MOUSE, COMBO_TERM_FAST, COMBO_IDLE_FAST)

